.App {
  text-align: center;
  min-height: 100vh;
}

.first-page {
  background-image: 
    linear-gradient(to top, rgba(0, 10, 31, 1), rgba(196, 35, 35, 0) 50%),
    url('./firstPage/replicate_background.png');
  background-size: 120% auto;
  background-repeat: no-repeat;
  background-color: #000A1F;
}

.second-page {
  background-color: #000A1F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.third-page {
  background-color: #000A1F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}