.App {
  text-align: center;
  min-height: 100vh;
}

.first-page {
  background-image: 
    linear-gradient(to top, rgba(0, 10, 31, 1), rgba(196, 35, 35, 0) 30%),
    url('./replicate_background.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.second-page {
  background-color: #000A1F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 10% 2% 0;
}

.left-column {
  background-color: transparent;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 6vw;
}

.right-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.FloatyMan {
  width: 75%;
  height: auto;
  display: block;
}

.container {
  width: 100%;
}
